@import '../general.css';

table {
    background-color: #0076ce;
    width: 100%;
    padding: 1.8rem;
    text-align: center;
    color:white;
}

thead {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

tbody td {
    height: 2.8rem;
    border-bottom: 1px solid black;
}

tbody td:first-child {
    cursor: pointer;
}

.btn-outline-success {
    color: #0076ce;
    border-color: #0076ce;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #0076ce;
    border-color: #0076ce;
}